In [1]:
file = "modern_arts.csv"
import pandas as pd
arts = pd.read_csv(file)
arts.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography

In [2]:
arts["Gender"]

0        (Female)
1          (Male)
2          (Male)
3          (Male)
4          (Male)
           ...
16720      (Male)
16721      (Male)
16722      (Male)
16723          ()
16724      (Male)
Name: Gender, Length: 16725, dtype: object

In [3]:
arts["Gender"].str.replace("(", "").str.replace(")", "")

C:\Users\hp\AppData\Local\Temp\ipykernel_8004\2005910182.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  arts["Gender"].str.replace("(", "").str.replace(")", "")

0        Female
1          Male
2          Male
3          Male
4          Male
          ...
16720      Male
16721      Male
16722      Male
16723
16724      Male
Name: Gender, Length: 16725, dtype: object

In [4]:
arts.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography

In [5]:
arts["Gender"] = arts["Gender"].str.replace("(", "").str.replace(")", "")

C:\Users\hp\AppData\Local\Temp\ipykernel_8004\2003723855.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  arts["Gender"] = arts["Gender"].str.replace("(", "").str.replace(")", "")

In [6]:
arts["Nationality"] = arts["Nationality"].str.replace("(", "").str.replace(")", "")

C:\Users\hp\AppData\Local\Temp\ipykernel_8004\1366814821.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  arts["Nationality"] = arts["Nationality"].str.replace("(", "").str.replace(")", "")

In [7]:
arts["Gender"].unique()

array(['Female', 'Male', '', 'male'], dtype=object)

In [8]:
arts["Gender"] = arts["Gender"].str.title()

In [9]:
arts["Gender"].str.replace("''", "Unknown").unique()

array(['Female', 'Male', ''], dtype=object)

In [10]:
bol = arts["Gender"] == ''

In [11]:
sum(bol)

791

In [12]:
arts[bol] # boolean indexing

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
31,Untitled,Unknown,,NaN,NaN,,c. 1925,Photography
90,Bar Tools,Studio Opi,Italian,(1955),NaN,,1969,Architecture & Design
137,Nations,Slavs and Tatars,,(2005),NaN,,2007,Prints & Illustrated Books
177,El Frente Popular de Madrid Al Frente Popular ...,J. Briones,Spanish,NaN,NaN,,1936-1937,Architecture & Design
185,Untitled,Unknown,,NaN,NaN,,1923-1951,Photography
...,...,...,...,...,...,...,...,...
16664,Untitled,Unknown,,NaN,NaN,,c. 1960,Photography
16670,Inflatable Armchair,Quasar (Nguyen Manh Khanh),Vietnamese,(1934),NaN,,1967-1968,Architecture & Design
16688,Poster of the French National Railroad,Album-miscellaneous,Various,NaN,NaN,,1900-1943,Architecture & Design
16702,Salon de la Plume,Unknown,Nationality Unknown,NaN,NaN,,1880-1910,Architecture & Design
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,,NaN,NaN,,1931,Prints & Illustrated Books

In [13]:
arts.loc[bol, "Gender"] = "Gender Unknow"

In [14]:
arts["Gender"].unique()

array(['Female', 'Male', 'Gender Unknow'], dtype=object)

In [15]:
arts["Gender"].value_counts()

Male             13491
Female            2443
Gender Unknow      791
Name: Gender, dtype: int64

In [16]:
arts["BeginDate"]

0        (1947)
1        (1916)
2        (1870)
3        (1861)
4        (1857)
          ...
16720    (1898)
16721    (1942)
16722    (1882)
16723       NaN
16724    (1927)
Name: BeginDate, Length: 16725, dtype: object

In [17]:
arts["BeginDate"].str.replace("(", "").str.replace(")", "").astype(int)

C:\Users\hp\AppData\Local\Temp\ipykernel_8004\370279827.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  arts["BeginDate"].str.replace("(", "").str.replace(")", "").astype(int)

ValueError: cannot convert float NaN to integer

In [18]:
arts["BeginDate"].str.replace("(", "").str.replace(")", "").astype(float)

C:\Users\hp\AppData\Local\Temp\ipykernel_8004\2801313520.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  arts["BeginDate"].str.replace("(", "").str.replace(")", "").astype(float)

0        1947.0
1        1916.0
2        1870.0
3        1861.0
4        1857.0
          ...
16720    1898.0
16721    1942.0
16722    1882.0
16723       NaN
16724    1927.0
Name: BeginDate, Length: 16725, dtype: float64

In [19]:
arts["BeginDate"] = arts["BeginDate"].str.replace("(", "").str.replace(")", "").astype(float)

C:\Users\hp\AppData\Local\Temp\ipykernel_8004\2650490978.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  arts["BeginDate"] = arts["BeginDate"].str.replace("(", "").str.replace(")", "").astype(float)

In [20]:
arts.dtypes

Title           object
Artist          object
Nationality     object
BeginDate      float64
EndDate         object
Gender          object
Date            object
Department      object
dtype: object

In [21]:
arts["EndDate"] = arts["EndDate"].str.replace("(", "").str.replace(")", "").astype(float)

C:\Users\hp\AppData\Local\Temp\ipykernel_8004\1320520668.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  arts["EndDate"] = arts["EndDate"].str.replace("(", "").str.replace(")", "").astype(float)

In [22]:
arts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16725 entries, 0 to 16724
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        16724 non-null  object
 1   Artist       16725 non-null  object
 2   Nationality  16725 non-null  object
 3   BeginDate    15786 non-null  float64
 4   EndDate      10474 non-null  float64
 5   Gender       16725 non-null  object
 6   Date         16725 non-null  object
 7   Department   16725 non-null  object
dtypes: float64(2), object(6)
memory usage: 1.0+ MB

In [23]:
bad_chr = ["(", ")", "c", "C", ".", "'", " ", "s", "-"]
len(bad_chr)

9

In [24]:
date = "(c. 1947's)"

for i in bad_chr:
    date = date.replace(i, "")
date

'1947'

In [25]:
def remove_bad_chr(date):
    for i in bad_chr:
        date = date.replace(i, "")
        return date
arts["Date"].apply(remove_bad_chr)

0             1986
1             1978
2        1889-1911
3        1927-1940
4             1903
           ...
16720    1968-1969
16721         1975
16722         1922
16723         1931
16724         2011
Name: Date, Length: 16725, dtype: object

In [26]:
def clean_date(date):
    bad_chr = ["(", ")", "c", "C", ".", "'", " ", "s"]
    for i in bad_chr:
        date = date.replace(i, "")
    return date

In [27]:
date = "sc1974. 's'"
clean_date(date)

'1974'

In [28]:
arts["Date"] = arts["Date"].apply(clean_date)

In [29]:
new_date = "1889-1911"
lst = new_date.split("-")
lst

['1889', '1911']

In [30]:
yr1 = int(lst[0])
yr2 = int(lst[1])
mean_yr = (yr1+yr2)/2
round(mean_yr)

1900

In [31]:
def int_date(date):
    if "-" in date:
        lst = date.split("-")
        yr1 = int(lst[0])
        yr2 = int(lst[1])
        yr = round((yr1 + yr2)/2)
        return yr
    else:
        return int(date)
arts["Date"] = arts["Date"].apply(int_date).astype(int)

In [34]:
arts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16725 entries, 0 to 16724
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        16724 non-null  object
 1   Artist       16725 non-null  object
 2   Nationality  16725 non-null  object
 3   BeginDate    15786 non-null  float64
 4   EndDate      10474 non-null  float64
 5   Gender       16725 non-null  object
 6   Date         16725 non-null  int32
 7   Department   16725 non-null  object
dtypes: float64(2), int32(1), object(5)
memory usage: 980.1+ KB

In [35]:
arts.to_csv("cleaned_modern_arts.csv")