In [1]:
import pandas as pd
hacks = pd.read_csv("hacks.csv")
hacks.head()

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,8/4/2016 11:52
1,10975351,How to Use Open Source and Shut the Fuck Up at...,http://hueniverse.com/2016/01/26/how-to-use-op...,39,10,josep2,1/26/2016 19:30
2,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,6/23/2016 22:20
3,11919867,Technology ventures: From Idea to Enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3,1,hswarna,6/17/2016 0:01
4,10301696,Note by Note: The Making of Steinway L1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8,2,walterbell,9/30/2015 4:12

In [2]:
hacks.tail()

,id,title,url,num_points,num_comments,author,created_at
20095,12379592,How Purism Avoids Intels Active Management Tec...,https://puri.sm/philosophy/how-purism-avoids-i...,10,6,AdmiralAsshat,8/29/2016 2:22
20096,10339284,YC Application Translated and Broken Down,https://medium.com/@zreitano/the-yc-applicatio...,4,1,zreitano,10/6/2015 14:57
20097,10824382,Microkernels are slow and Elvis didn't do no d...,http://blog.darknedgy.net/technology/2016/01/0...,169,132,vezzy-fnord,1/2/2016 0:49
20098,10739875,How Product Hunt really works,https://medium.com/@benjiwheeler/how-product-h...,695,222,brw12,12/15/2015 19:32
20099,11680777,RoboBrowser: Your friendly neighborhood web sc...,https://github.com/jmcarp/robobrowser,182,58,pmoriarty,5/12/2016 1:43

In [3]:
ask_bool = hacks["title"].str.lower().str.contains("ask hn")
ask_bool.sum()

1745

In [4]:
ask_posts = hacks[ask_bool]
ask_posts.head()

,id,title,url,num_points,num_comments,author,created_at
7,12296411,Ask HN: How to improve my personal website?,NaN,2,6,ahmedbaracat,8/16/2016 9:55
17,10610020,Ask HN: Am I the only one outraged by Twitter ...,NaN,28,29,tkfx,11/22/2015 13:43
22,11610310,Ask HN: Aby recent changes to CSS that broke m...,NaN,1,1,polskibus,5/2/2016 10:14
30,12210105,Ask HN: Looking for Employee #3 How do I do it?,NaN,1,3,sph130,8/2/2016 14:20
31,10394168,Ask HN: Someone offered to buy my browser exte...,NaN,28,17,roykolak,10/15/2015 16:38

In [5]:
show_bool = hacks["title"].str.lower().str.contains("show hn")
show_bool.sum()

1170

In [6]:
show_posts = hacks[show_bool]
show_posts.head()

,id,title,url,num_points,num_comments,author,created_at
13,10627194,Show HN: Wio Link ESP8266 Based Web of Things...,https://iot.seeed.cc,26,22,kfihihc,11/25/2015 14:03
39,10646440,Show HN: Something pointless I made,http://dn.ht/picklecat/,747,102,dhotson,11/29/2015 22:46
46,11590768,"Show HN: Shanhu.io, a programming playground p...",https://shanhu.io,1,1,h8liu,4/28/2016 18:05
84,12178806,Show HN: Webscope Easy way for web developers...,http://webscopeapp.com,3,3,fastbrick,7/28/2016 7:11
97,10872799,Show HN: GeoScreenshot Easily test Geo-IP bas...,https://www.geoscreenshot.com/,1,9,kpsychwave,1/9/2016 20:45

In [7]:
ask_posts["num_comments"].mean()

14.031518624641834

In [8]:
show_posts["num_comments"].mean()

10.283760683760685

In [9]:
ask_posts.head()

,id,title,url,num_points,num_comments,author,created_at
7,12296411,Ask HN: How to improve my personal website?,NaN,2,6,ahmedbaracat,8/16/2016 9:55
17,10610020,Ask HN: Am I the only one outraged by Twitter ...,NaN,28,29,tkfx,11/22/2015 13:43
22,11610310,Ask HN: Aby recent changes to CSS that broke m...,NaN,1,1,polskibus,5/2/2016 10:14
30,12210105,Ask HN: Looking for Employee #3 How do I do it?,NaN,1,3,sph130,8/2/2016 14:20
31,10394168,Ask HN: Someone offered to buy my browser exte...,NaN,28,17,roykolak,10/15/2015 16:38

In [10]:
ask_posts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1745 entries, 7 to 20061
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1745 non-null   int64
 1   title         1745 non-null   object
 2   url           7 non-null      object
 3   num_points    1745 non-null   int64
 4   num_comments  1745 non-null   int64
 5   author        1745 non-null   object
 6   created_at    1745 non-null   object
dtypes: int64(3), object(4)
memory usage: 109.1+ KB

In [11]:
ask_posts["created_at"] = pd.to_datetime(ask_posts["created_at"]).copy()

C:\Users\hp\AppData\Local\Temp\ipykernel_6828\2472244110.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ask_posts["created_at"] = pd.to_datetime(ask_posts["created_at"]).copy()

In [12]:
ask_posts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1745 entries, 7 to 20061
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1745 non-null   int64
 1   title         1745 non-null   object
 2   url           7 non-null      object
 3   num_points    1745 non-null   int64
 4   num_comments  1745 non-null   int64
 5   author        1745 non-null   object
 6   created_at    1745 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 109.1+ KB

In [13]:
ask_posts["created_at"].dt.strftime("%H").value_counts()

15    116
19    110
18    109
21    109
16    108
14    107
17    100
13     85
20     80
12     73
22     71
23     69
01     60
10     59
11     58
02     58
00     55
03     54
08     48
04     47
05     46
09     45
06     44
07     34
Name: created_at, dtype: int64

In [14]:
ask_posts["hour"] = ask_posts["created_at"].dt.hour

C:\Users\hp\AppData\Local\Temp\ipykernel_6828\1856746366.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ask_posts["hour"] = ask_posts["created_at"].dt.hour

In [15]:
avg_comments = ask_posts.pivot_table(index = "hour", values = "num_comments", aggfunc = 'mean')

In [16]:
avg_comments.sort_values("num_comments", ascending = False).head()

      num_comments
hour
15       38.594828
2        23.810345
20       21.525000
16       16.796296
21       16.009174

In [17]:
ask_posts.groupby("hour", as_index = False)["num_comments"].mean().sort_values(by = "num_comments", ascending = False).head()

    hour  num_comments
15    15     38.594828
2      2     23.810345
20    20     21.525000
16    16     16.796296
21    21     16.009174

In [18]:
show_posts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1170 entries, 13 to 20070
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1170 non-null   int64
 1   title         1170 non-null   object
 2   url           1123 non-null   object
 3   num_points    1170 non-null   int64
 4   num_comments  1170 non-null   int64
 5   author        1170 non-null   object
 6   created_at    1170 non-null   object
dtypes: int64(3), object(4)
memory usage: 73.1+ KB

In [19]:
show_posts["created_at"] = pd.to_datetime(show_posts["created_at"])

C:\Users\hp\AppData\Local\Temp\ipykernel_6828\3549568193.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  show_posts["created_at"] = pd.to_datetime(show_posts["created_at"])

In [22]:
show_posts["hour"] = show_posts["created_at"].dt.hour
show_posts.pivot_table(index = "hour", values = "num_comments", aggfunc = "mean").sort_values(by = "num_comments", ascending = False).head()

C:\Users\hp\AppData\Local\Temp\ipykernel_6828\2269383302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  show_posts["hour"] = show_posts["created_at"].dt.hour

      num_comments
hour
18       15.770492
0        15.709677
14       13.441860
23       12.416667
22       12.391304